main
    flex-grow: 1
    width: 100%

    h1
        text-align: center
        margin-top: 5rem
        font-size: 2rem

    section
        padding: 5rem 0

        h2
            text-align: center
            margin-bottom: 3rem
