@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap')

$accent: #ff8c00
$bg: #161616
$bg2: #1c1c1c
$bg3: #333333
$text: #fff
$text2: #aaa
$border: #282828
$hover: lighten(#161616, 1%)

$headerSize: 75px

@import 'header'
@import 'btns'
@import 'main'
@import 'contacts'
@import 'home'
@import 'sended'
@import 'footer'

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Rubik', sans-serif

    &:focus
        outline: none

html
    scroll-behavior: smooth

body
    display: flex
    flex-direction: column
    min-height: 100vh
    background: $bg2
    color: $text

a
    color: $accent

.container
    width: 100%
    max-width: 1300px
    margin: 0 auto
    padding: 0 2rem

input, select, textarea
    border: 1px solid $border
    padding: .7rem 1rem
    border-radius: 10px
    font-size: 1rem
    background: $bg3
    color: $text
    resize: vertical

::placeholder
    color: lighten($text, 50%)
