@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #282828;
  height: 75px;
  background: #161616;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo img {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  height: calc(75px - 1.5rem);
}

header .container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

header .container .links a {
  text-decoration: none;
  padding: 0 1rem;
  height: calc(75px - 1px);
  line-height: calc(75px - 1px);
  color: #fff;
  white-space: nowrap;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}

header .container .links a:hover {
  background: #191919;
}

header .container .links a.active {
  position: relative;
}

header .container .links a.active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ff8c00;
}

header .container .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .container .actions .phone {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  margin: 0 2rem;
}

header .container .actions .phone a {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

header .container .actions .phone a:hover {
  color: #ff8c00;
}

header .container .actions .user {
  margin-left: 1rem;
}

header .container .actions .cabinet {
  margin-left: 1rem;
  width: 6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.icon-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: none;
  font-size: 1.25rem;
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background .2s ease, -webkit-box-shadow .2s ease;
  transition: background .2s ease, -webkit-box-shadow .2s ease;
  transition: background .2s ease, box-shadow .2s ease;
  transition: background .2s ease, box-shadow .2s ease, -webkit-box-shadow .2s ease;
}

.icon-btn:hover {
  -webkit-box-shadow: 0 0 0 10px #191919;
          box-shadow: 0 0 0 10px #191919;
  background: #191919;
}

.icon-btn:active {
  -webkit-box-shadow: 0 0 0 8px #191919;
          box-shadow: 0 0 0 8px #191919;
}

.btn {
  display: inline-block;
  border-radius: 40px;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
  text-decoration: none;
  background: #ff8c00;
  -webkit-box-shadow: 0 0 10px rgba(255, 140, 0, 0.5);
          box-shadow: 0 0 10px rgba(255, 140, 0, 0.5);
  color: #161616;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: opacity .2s, -webkit-transform .2s ease;
  transition: opacity .2s, -webkit-transform .2s ease;
  transition: opacity .2s, transform .2s ease;
  transition: opacity .2s, transform .2s ease, -webkit-transform .2s ease;
}

.btn:hover {
  opacity: .9;
}

.btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.btn-outlined {
  display: inline-block;
  border-radius: 40px;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
  text-decoration: none;
  color: #ff8c00;
  border: 1px solid #ff8c00;
  background: none;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: background .2s, color .2s, -webkit-transform .2s ease;
  transition: background .2s, color .2s, -webkit-transform .2s ease;
  transition: background .2s, color .2s, transform .2s ease;
  transition: background .2s, color .2s, transform .2s ease, -webkit-transform .2s ease;
}

.btn-outlined:hover {
  background: #ff8c00;
  color: #161616;
}

.btn-outlined:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

footer {
  background: #161616;
}

footer .to-top {
  padding: 1rem 0;
  border-top: 1px dashed #282828;
  border-bottom: 1px dashed #282828;
  cursor: pointer;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}

footer .to-top:hover {
  background: #191919;
}

footer .to-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

footer .to-top .container i {
  margin-right: 0.5rem;
}

footer > .container {
  padding: 2rem;
  color: #aaa;
}

form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

form .form-group:last-child {
  margin-bottom: 0;
}

form .form-group label {
  margin-bottom: .5rem;
  color: #aaa;
}

form .form-group textarea {
  resize: vertical;
}

form .form-group .file-btn {
  display: inline-block;
  border-radius: 40px;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
  text-decoration: none;
  background: #333333;
  -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.5);
          box-shadow: 0 0 10px rgba(51, 51, 51, 0.5);
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: opacity .2s, -webkit-transform .2s ease;
  transition: opacity .2s, -webkit-transform .2s ease;
  transition: opacity .2s, transform .2s ease;
  transition: opacity .2s, transform .2s ease, -webkit-transform .2s ease;
}

form .form-group .file-btn:hover {
  opacity: .9;
}

form .form-group .file-btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

form .form-group .file-btn input {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
  margin-top: -1rem;
}

form .form-group .error:not(:empty) {
  margin-top: 1rem;
  color: red;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container .modal {
  background: #161616;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 2rem;
  padding: 2rem;
}

.modal-container .modal .header {
  border-bottom: 1px solid #282828;
  padding-bottom: 1rem;
}

.modal-container .modal .header .title {
  font-size: 1.5rem;
}

.modal-container .modal .body {
  padding-top: 1rem;
}

.modal-container .modal .body p {
  margin-bottom: 1rem;
}

.modal-container .modal .body p:last-child {
  margin-bottom: 0;
}

.modal-container .modal .footer {
  padding-top: 1rem;
}

.modal-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background: #161616;
  overflow: hidden;
}

.product-card a {
  text-decoration: none;
}

.product-card a img {
  width: 100%;
}

.product-card .price {
  font-weight: bold;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.product-card .title {
  color: #fff;
  margin: 0 1rem 2rem;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.product-card .title:hover {
  color: #ff8c00;
}

main.contacts {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

main.contacts .info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
}

main.contacts .info .container div {
  width: 100%;
}

main.contacts .info .container div.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main.contacts .info .container div.text .icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.contacts .info .container div.text .icon-text i {
  font-size: 2rem;
  width: 3rem;
}

main.contacts .info .container div.text .btn-wrapper {
  margin-left: 2rem;
}

main.contacts .profiles .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.contacts .profiles .container .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}

main.contacts .profiles .container .profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

main.contacts .profiles .container .profile b, main.contacts .profiles .container .profile i, main.contacts .profiles .container .profile p {
  margin-bottom: 0.3rem;
}

main.contacts .contact-form {
  border-top: 1px solid #282828;
}

main.contacts .contact-form .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.contacts .contact-form .container .form-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.contacts .contact-form .container .form-column .form-group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: .5rem;
}

main.contacts .contact-form .container .form-column .form-group input, main.contacts .contact-form .container .form-column .form-group select, main.contacts .contact-form .container .form-column .form-group textarea {
  width: 300px;
}

main.contacts .contact-form .container .form-column .form-group button {
  margin-top: 1rem;
  float: right;
}

main.home section.slider {
  padding: 0;
}

main.home section.slider .glide__slide {
  position: relative;
}

main.home section.slider .glide__slide img {
  width: 100%;
}

main.home section.slider .glide__slide .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  bottom: 5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main.home section.slider .glide__slide .content .title {
  color: #000;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

main.home section.slider .glide__slide .content .btn-outlined {
  color: #000;
  border-color: #000;
}

main.home section.slider .glide__slide .content .btn-outlined:hover {
  border-color: #ff8c00;
}

main.home section.slider .glide__arrow {
  color: #000;
  border: 2px solid #000;
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .5;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

main.home section.slider .glide__arrow:hover {
  opacity: 1;
}

main.home section.slider .glide__arrow i {
  font-size: 2rem;
}

main.home section.slider .glide__bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.home section.slider .glide__bullets .glide__bullet {
  border: 1px solid #000;
  background: none;
  width: 1rem;
  height: 1rem;
}

main.home section.slider .glide__bullets .glide__bullet.glide__bullet--active {
  background: #000;
  width: .7rem;
  height: .7rem;
}

main.home section.top-sells .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

main.home section.top-sells .container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background: #161616;
  overflow: hidden;
}

main.home section.top-sells .container .card a {
  text-decoration: none;
}

main.home section.top-sells .container .card a img {
  width: 100%;
}

main.home section.top-sells .container .card .price {
  font-weight: bold;
  margin: 1rem 0;
  font-size: 1.5rem;
}

main.home section.top-sells .container .card .title {
  color: #fff;
  margin-bottom: 2rem;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

main.home section.top-sells .container .card .title:hover {
  color: #ff8c00;
}

main.home section.about {
  background: #161616;
}

main.home section.about p {
  line-height: 1.5rem;
  margin-bottom: 2rem;
  text-align: justify;
}

main.home section.about p:last-child {
  margin-bottom: 0;
}

main.home section.partners img {
  border-radius: 10px;
}

section.sended .container .btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.service section.partners {
  background: #161616;
  border-top: 1px solid #282828;
}

main.about section.selectors {
  padding-bottom: 0;
}

main.about section.selectors .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.about section.selectors .container .selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.about section.selectors .container .selector-item {
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-right: 2rem;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  cursor: pointer;
}

main.about section.selectors .container .selector-item:last-child {
  margin-right: 0;
}

main.about section.selectors .container .selector-item.active, main.about section.selectors .container .selector-item:hover {
  background: #161616;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

main.about .dynamic-sections {
  display: none;
}

main.about .dynamic-sections.active {
  display: block;
}

main.about section.projects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

main.about section.projects .container .column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

main.about section.projects .container .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

main.about section.coop .container {
  text-align: center;
}

main.about section.jobs .container .card {
  display: block;
  background: #161616;
  border-radius: 10px;
  padding: 2rem;
  text-decoration: none;
  margin-bottom: 2rem;
}

main.about section.jobs .container .card:last-child {
  margin-bottom: 0;
}

main.about section.jobs .container .card:hover .header .title {
  color: #ff8c00;
}

main.about section.jobs .container .card .header {
  border-bottom: 1px solid #282828;
  padding-bottom: 1rem;
}

main.about section.jobs .container .card .header .title {
  color: #fff;
  font-size: 1.5rem;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

main.about section.jobs .container .card .body {
  padding-top: 1rem;
  padding-left: 0.5rem;
}

main.about section.jobs .container .card .body .description {
  color: #aaa;
}

main.login .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.login .container form {
  width: 500px;
}

main.register .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.register .container form {
  width: 500px;
}

main.register .container form .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

main.register .container form .login .btn-outlined {
  margin-left: 1rem;
}

main.catalog section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.catalog section .container .select-category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 0 auto;
}

main.catalog section .container .select-category a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #aaa;
  background: #161616;
  border-radius: 10px;
  text-decoration: none;
  overflow: hidden;
}

main.catalog section .container .select-category a:hover p {
  color: #fff;
}

main.catalog section .container .select-category a p {
  padding: 3rem;
  width: 100%;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

main.catalog section .container aside.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #161616;
  margin-right: 2rem;
  border-radius: 10px;
  width: 300px;
  padding: 0 1rem;
}

main.catalog section .container aside.categories a {
  color: #aaa;
  text-decoration: none;
  padding: 1rem 2rem;
  width: 100%;
  border-bottom: 1px solid #282828;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

main.catalog section .container aside.categories a.active, main.catalog section .container aside.categories a:hover {
  color: #fff;
}

main.catalog section .container aside.categories a:first-child {
  padding-top: 2rem;
}

main.catalog section .container aside.categories a:last-child {
  padding-bottom: 2rem;
  border: none;
}

main.catalog section .container .products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

main.cabinet section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.cabinet section .container:not(.admin) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.cabinet section .container .products {
  margin-right: 2rem;
  width: 100%;
}

main.cabinet section .container .profile {
  width: 350px;
  background: #161616;
  border-radius: 10px;
  padding: 2rem;
}

main.cabinet section .container .profile .logout-btn {
  margin-top: 2rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

*:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background: #1c1c1c;
  color: #fff;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

main h1 {
  display: block;
  text-align: center;
  margin-top: 5rem;
  font-size: 2rem;
}

main section {
  padding: 5rem 0;
}

main section h2 {
  display: block;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.8rem;
}

input, select, textarea {
  border: 1px solid #282828;
  padding: .7rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
  background: #333333;
  color: #fff;
  resize: vertical;
}

a {
  color: #ff8c00;
}

ul, ol {
  list-style-position: inside;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}

.btns-container * {
  margin-right: 1rem;
}

.btns-container *:last-child {
  margin-right: 0;
}

.texts-container p, .texts-container ul, .texts-container ol, .texts-container b {
  display: block;
  margin-bottom: 1rem;
}

.alert {
  color: green;
  border: 2px solid green;
  font-weight: bold;
  padding: 1rem;
  border-radius: 10px;
  background: rgba(0, 128, 0, 0.05);
}
/*# sourceMappingURL=index.css.map */