@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap')

@import 'vars'
@import 'mixins'

@import 'components/header'
@import 'components/btns'
@import 'components/footer'
@import 'components/form'
@import 'components/modal'
@import 'components/product_card'

@import 'pages/contacts'
@import 'pages/home'
@import 'pages/sended'
@import 'pages/service'
@import 'pages/about'
@import 'pages/login'
@import 'pages/register'
@import 'pages/catalog'
@import 'pages/cabinet'

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Rubik', sans-serif

    &:focus
        outline: none

::placeholder
    color: lighten($text, 50%)

html
    scroll-behavior: smooth

body
    @include flexColumn
    min-height: 100vh
    background: $bg2
    color: $text

main
    flex-grow: 1
    width: 100%

    h1
        display: block
        text-align: center
        margin-top: 5rem
        font-size: 2rem

    section
        padding: 5rem 0

        h2
            display: block
            text-align: center
            margin-bottom: 3rem
            font-size: 1.8rem

input, select, textarea
    @include border
    padding: .7rem 1rem
    border-radius: 10px
    font-size: 1rem
    background: $bg3
    color: $text
    resize: vertical

a
    color: $accent

ul, ol
    list-style-position: inside

.container
    width: 100%
    max-width: 1300px
    margin: 0 auto
    padding: 0 2rem

.btns-container
    *
        margin-right: 1rem

        &:last-child
            margin-right: 0

.texts-container
    p, ul, ol, b
        display: block
        margin-bottom: 1rem

.alert
    color: green
    border: 2px solid green
    font-weight: bold
    padding: 1rem
    border-radius: 10px
    background: transparentize(green, .95)
