@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #282828;
  height: 75px;
  background: #161616;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo img {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  height: calc(75px - 1.5rem);
}

header .container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

header .container .links a {
  text-decoration: none;
  padding: 0 1rem;
  height: calc(75px - 1px);
  line-height: calc(75px - 1px);
  color: #fff;
  white-space: nowrap;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}

header .container .links a:hover {
  background: #191919;
}

header .container .links a.active {
  position: relative;
}

header .container .links a.active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ff8c00;
}

header .container .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .container .actions .phone {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  margin: 0 2rem;
}

header .container .actions .phone a {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

header .container .actions .phone a:hover {
  color: #ff8c00;
}

header .container .actions .user {
  margin-left: 1rem;
}

.icon-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: none;
  font-size: 1.25rem;
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background .2s ease, -webkit-box-shadow .2s ease;
  transition: background .2s ease, -webkit-box-shadow .2s ease;
  transition: background .2s ease, box-shadow .2s ease;
  transition: background .2s ease, box-shadow .2s ease, -webkit-box-shadow .2s ease;
}

.icon-btn:hover {
  -webkit-box-shadow: 0 0 0 10px #191919;
          box-shadow: 0 0 0 10px #191919;
  background: #191919;
}

.icon-btn:active {
  -webkit-box-shadow: 0 0 0 8px #191919;
          box-shadow: 0 0 0 8px #191919;
}

.btn {
  border-radius: 40px;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
  text-decoration: none;
  background: #ff8c00;
  -webkit-box-shadow: 0 0 10px rgba(255, 140, 0, 0.5);
          box-shadow: 0 0 10px rgba(255, 140, 0, 0.5);
  color: #161616;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: opacity .2s, -webkit-transform .2s ease;
  transition: opacity .2s, -webkit-transform .2s ease;
  transition: opacity .2s, transform .2s ease;
  transition: opacity .2s, transform .2s ease, -webkit-transform .2s ease;
}

.btn:hover {
  opacity: .9;
}

.btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.btn-outlined {
  border-radius: 40px;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
  text-decoration: none;
  color: #ff8c00;
  border: 1px solid #ff8c00;
  background: none;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: background .2s, color .2s, -webkit-transform .2s ease;
  transition: background .2s, color .2s, -webkit-transform .2s ease;
  transition: background .2s, color .2s, transform .2s ease;
  transition: background .2s, color .2s, transform .2s ease, -webkit-transform .2s ease;
}

.btn-outlined:hover {
  background: #ff8c00;
  color: #161616;
}

.btn-outlined:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

main h1 {
  text-align: center;
  margin-top: 5rem;
  font-size: 2rem;
}

main section {
  padding: 5rem 0;
}

main section h2 {
  text-align: center;
  margin-bottom: 3rem;
}

main.contacts {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

main.contacts .info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
}

main.contacts .info .container div {
  width: 100%;
}

main.contacts .info .container div.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main.contacts .info .container div.text .icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.contacts .info .container div.text .icon-text i {
  font-size: 2rem;
  width: 3rem;
}

main.contacts .info .container div.text .btn-wrapper {
  margin-left: 2rem;
}

main.contacts .profiles .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.contacts .profiles .container .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}

main.contacts .profiles .container .profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

main.contacts .profiles .container .profile b, main.contacts .profiles .container .profile i, main.contacts .profiles .container .profile p {
  margin-bottom: 0.3rem;
}

main.contacts .contact-form {
  border-top: 1px solid #282828;
}

main.contacts .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.contacts .contact-form form .form-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.contacts .contact-form form .form-column .form-group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  padding: .5rem;
}

main.contacts .contact-form form .form-column .form-group input, main.contacts .contact-form form .form-column .form-group select, main.contacts .contact-form form .form-column .form-group textarea {
  width: 100%;
}

main.contacts .contact-form form .form-column .form-group button {
  margin-top: 1rem;
  float: right;
}

main.home .glide .glide__slide {
  position: relative;
}

main.home .glide .glide__slide img {
  width: 100%;
}

main.home .glide .glide__slide .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  bottom: 5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main.home .glide .glide__slide .content .title {
  color: #000;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

main.home .glide .glide__slide .content .btn-outlined {
  color: #000;
  border-color: #000;
}

main.home .glide .glide__slide .content .btn-outlined:hover {
  border-color: #ff8c00;
}

main.home .glide .glide__arrow {
  color: #000;
  border: 2px solid #000;
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .5;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

main.home .glide .glide__arrow:hover {
  opacity: 1;
}

main.home .glide .glide__arrow i {
  font-size: 2rem;
}

main.home .glide .glide__bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.home .glide .glide__bullets .glide__bullet {
  border: 1px solid #000;
  background: none;
  width: 1rem;
  height: 1rem;
}

main.home .glide .glide__bullets .glide__bullet.glide__bullet--active {
  background: #000;
  width: .7rem;
  height: .7rem;
}

main.home .top-sells .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

main.home .top-sells .container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background: #161616;
  overflow: hidden;
}

main.home .top-sells .container .card a {
  text-decoration: none;
}

main.home .top-sells .container .card a img {
  width: 100%;
}

main.home .top-sells .container .card a .price {
  font-weight: bold;
  margin: 1rem 0;
  font-size: 1.5rem;
}

main.home .top-sells .container .card a .title {
  color: #fff;
  margin-bottom: 2rem;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

main.home .top-sells .container .card a .title:hover {
  color: #ff8c00;
}

main.home .about {
  background: #161616;
}

main.home .about p {
  line-height: 1.5rem;
  margin-bottom: 2rem;
  text-align: justify;
}

main.home .about p:last-child {
  margin-bottom: 0;
}

main.home .partners img {
  border-radius: 10px;
}

main.sended .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background: #161616;
}

footer .to-top {
  padding: 1rem 0;
  border-top: 1px dashed #282828;
  border-bottom: 1px dashed #282828;
  cursor: pointer;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}

footer .to-top:hover {
  background: #191919;
}

footer .to-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

footer .to-top .container i {
  margin-right: 0.5rem;
}

footer > .container {
  padding: 2rem;
  color: #aaa;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background: #1c1c1c;
  color: #fff;
}

a {
  color: #ff8c00;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}

input, select, textarea {
  border: 1px solid #282828;
  padding: .7rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
  background: #333333;
  color: #fff;
  resize: vertical;
}

::-webkit-input-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}
/*# sourceMappingURL=index.css.map */